.heading{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 20px;
     width: 100%;
     margin: 0px;
}

.NOTE{
    font-size:13px;
    color:firebrick;
}
.div_speed{
    float:left;
}
.speedimage{
    width:240px;
    height:240px;
    border-radius: 100px;
}
#speed{
    font-size:18px;
    margin:15px;
}



.div_volume{
    float:right;
}
.volumeimage{
    width:240px;
    height:240px;
    border-radius: 100px;
}
#Volume{
    font-size:18px;
    margin:15px;
}
.play_button{
    width:90px;
    font-size:25px;
}
canvas{
    border:5px white dotted;
    border-radius: 20px;
}